
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boyut {
    width: 210px;
    margin-bottom: 5px;
    margin-top: 5px;
    float: left;
}

.sageboyut {
    width: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.moryap {
    background-color: white;
}


summary {
    padding:10px;
    background:#ff7b54;
    border: 1px solid#ff7b54;
    display:inline-block;
    border-radius: 10px;
    list-style: none;
    color: white;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    outline: 0;
  }
  
   summary::-webkit-details-marker {
       display: none;
  
  }
  summary:hover {
      background-color: #fff;
      color: #ff7b54;
  }

  .navlar {
      list-style: none;
  }

  .bghero {
      background-image: url(./besttts.png);
      background-size: 300px;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      
  }

  .vdboy {
      width: 700px;
   
  }

  .mapyazi {
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 1px;
      font-family: 'Montserrat', sans-serif;
  }

  i {
      padding-right: 10px;
  }

  .navirenk {
      background-color: #ff7b54;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
  }

  .nav-link {
      color: #fff;
      font-weight: bold;
      font-family: 'Monsterrat' , sans-serif;
  }
  
  .nav-link:hover {
      color: black;
  }
  
  .navbar-brand {
      color: #fff;
      
  }
  
  .navbar-brand:hover {
      color: black;
  }

  @media (max-width: 768px) {
    .navirenk {
        background-color: #ff7b54;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

  }
    .nav-item {
        margin-top: 10px;
        transition: all .5s ease;
    }
    .vdboy {
        width: 300px;
      
    }
    .nav-item:hover:not(.valoguide) {
        background-color:white;
        padding-left: 40px;
        
    }
    .nav-link:hover {
        color: #ff7b54;
    }
    .logo_border  {
        color: #fff;
        margin-right: 5px;
    }
 }
